<nav class="flex items-center justify-between flex-wrap px-5 py-3 border-b gap-5 dark:border-zinc-900">
  <a href="/" class="font-semibold text-xl tracking-tight">Cleveland Lead Testing</a>

  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="flex items-center gap-3 flex-wrap">
    {% for entry in navPages %}
      <li class="inline">
        <a
          href="{{ entry.url }}"
          class="uppercase text-sm py-1 px-2 rounded inline-block
          {% if (entry.url in page.url and entry.url != '/') or (page.url == '/' and entry.url == '/')  %}
            bg-black text-white
          {% else %}
            text-zinc-700 dark:text-zinc-200 hover:bg-zinc-100 dark:hover:bg-zinc-700
          {% endif %}">
          {{ entry.title }}
        </a>
      </li>
    {% endfor %}

  </ul>

  {# You can add a button that resets the user preference for the dark-light-theme #}
  {# <button id="forgetPref" onclick="forgetPref()">Forget</button> #}

</nav>
