<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M7ZNVSLLKT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-M7ZNVSLLKT');
    </script>
    
    <script defer data-domain="clevelandleadtesting.com" src="https://analytics.loopdash.com/js/script.js"></script>
  </head>
  <body class="dark:bg-zinc-800 dark:text-white">
    {% include "../components/navigation.njk" %}
    <main class="p-12">
      {{ content | safe }}
    </main>
    <script src="/assets/main.js"></script>
  </body>
</html>
